In [39]:
import pandas as pd

    # data reading

In [41]:
df.head()

,fever,tiredness,dryCough,bodyPain,diffbreath,runnyNose,soreThroat,diarrhoea,travelHistory,isolationDays,age,infection
0,98.172367,0,1,1,1,0,0,0,1,2,26,0
1,101.095956,0,0,1,1,1,0,0,0,1,71,0
2,99.929787,0,1,0,1,0,1,1,0,8,75,1
3,100.060160,0,-1,0,-1,1,0,1,0,2,27,0
4,99.274266,0,1,0,-1,1,0,0,0,11,100,0

In [42]:
df.tail()

,fever,tiredness,dryCough,bodyPain,diffbreath,runnyNose,soreThroat,diarrhoea,travelHistory,isolationDays,age,infection
1994,100.215951,1,1,0,0,1,1,0,1,13,58,1
1995,99.034805,0,1,0,1,0,1,1,0,3,7,0
1996,100.690063,0,0,1,0,1,1,1,1,8,0,0
1997,98.008347,0,-1,0,1,1,0,1,0,11,83,0
1998,101.152725,1,1,1,1,0,1,1,0,11,87,1

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          1999 non-null   float64
 1   tiredness      1999 non-null   int64
 2   dryCough       1999 non-null   int64
 3   bodyPain       1999 non-null   int64
 4   diffbreath     1999 non-null   int64
 5   runnyNose      1999 non-null   int64
 6   soreThroat     1999 non-null   int64
 7   diarrhoea      1999 non-null   int64
 8   travelHistory  1999 non-null   int64
 9   isolationDays  1999 non-null   int64
 10  age            1999 non-null   int64
 11  infection      1999 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 187.5 KB

In [44]:
df.describe()

,fever,tiredness,dryCough,bodyPain,diffbreath,runnyNose,soreThroat,diarrhoea,travelHistory,isolationDays,age,infection
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,99.995262,0.480240,0.004002,0.497249,-0.003502,0.505253,0.506253,0.488244,0.498249,7.128064,50.068034,0.511256
std,1.167484,0.499734,0.821985,0.500118,0.828960,0.500098,0.500086,0.499987,0.500122,4.292206,29.840758,0.499998
min,98.004755,0.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,98.953341,0.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,3.500000,24.000000,0.000000
50%,99.979303,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,7.000000,49.000000,1.000000
75%,100.976644,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000,76.500000,1.000000
max,101.999899,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,14.000000,100.000000,1.000000

## Train Test Splitting

In [45]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [46]:
np.random.permutation(5)

array([1, 3, 2, 0, 4])

In [47]:
train, test = data_split(df, 0.2)

In [48]:
train

,fever,tiredness,dryCough,bodyPain,diffbreath,runnyNose,soreThroat,diarrhoea,travelHistory,isolationDays,age,infection
966,101.652715,1,1,0,1,1,0,1,0,1,91,1
240,100.534315,1,1,0,-1,0,1,1,0,8,67,0
812,98.513082,0,-1,1,-1,0,1,1,1,5,100,0
1824,100.242164,1,-1,0,-1,0,0,1,0,6,55,1
1244,100.744661,1,-1,0,-1,1,0,1,1,2,33,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1130,99.862697,1,1,1,0,0,0,1,0,1,82,1
1294,98.746368,1,1,1,1,0,1,0,1,10,4,0
860,101.393944,1,-1,1,-1,1,1,1,1,3,17,1
1459,98.064668,0,0,1,-1,1,1,1,1,8,79,1
1126,101.741459,1,-1,0,-1,0,0,0,1,5,50,1

In [49]:
test

,fever,tiredness,dryCough,bodyPain,diffbreath,runnyNose,soreThroat,diarrhoea,travelHistory,isolationDays,age,infection
256,98.732337,0,1,1,1,1,1,0,0,12,58,1
352,98.915848,1,0,0,1,0,1,1,1,9,4,0
298,101.831922,0,-1,0,-1,1,0,0,0,2,52,1
581,100.867150,0,-1,1,1,1,1,1,1,14,45,1
1288,100.806766,0,1,1,1,1,1,0,0,8,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1616,101.750617,0,1,0,-1,0,0,0,1,14,100,1
650,99.739816,1,0,0,0,1,1,1,0,14,58,1
1973,101.231567,1,1,1,0,1,0,0,0,8,35,0
261,101.507777,0,-1,0,1,1,0,0,1,0,73,0
1305,101.369113,0,0,0,0,1,0,0,1,2,88,0

In [50]:
X_train = train[['fever', 'tiredness', 'dryCough', 'diffbreath', 'runnyNose', 'soreThroat', 'diarrhoea', 'travelHistory', 'isolationDays', 'age']].to_numpy()
X_test = test[['fever', 'tiredness', 'dryCough', 'diffbreath', 'runnyNose', 'soreThroat', 'diarrhoea', 'travelHistory', 'isolationDays', 'age']].to_numpy()

In [55]:
Y_train = train[['infection']].to_numpy().reshape(1600,)
Y_test = test[['infection']].to_numpy().reshape(399,)

In [56]:
Y_train

array([1, 0, 0, ..., 1, 1, 1], dtype=int64)

In [57]:
from sklearn.linear_model import LogisticRegression

In [60]:
mlf = LogisticRegression()
mlf.fit(X_train, Y_train)

LogisticRegression()

In [67]:
inputFeatures = [98,1,1,-1,1,1,0,0,0,65]
infP = mlf.predict_proba([inputFeatures])[0][1]

In [68]:
infP

0.46994700644000437